<div id="footer">
  <div class="container">
    <div id="footer-links" class="column">
      <h4>A Few Great Links</h4>

      <p>
        <a href="https://pages.teamintraining.org/nyc/nyc18/TheJackOBrien">LLS NYC Marathon Fundraiser</a>
        <br>
        <a href="https://github.com/jfobrien29/">GitHub</a>
        <br>
        <a href="https://www.linkedin.com/in/john-jack-o-brien-53bbaa105/">LinkedIn</a>
        <br>
        <a href="https://www.instagram.com/oldrelly/">Old Relly Instagram</a>
        <br>
        <a href="mailto:thejackobrien29@gmail.com">Email Me</a>
      </p>

    </div>

    <div id="footer-plug" class="column">
      <h4>Shameless Plug</h4>
      <p>Builder and Problem Solver. Princeton Engineering Graduate.
        NCAA Lacrosse Player. Tiger Bed Rentals Co-Founder.
        Old Relly Creator. Leukemia Lymphoma Society Fundraiser. IBM Blockchain Developer.
      </p>
      <p>Want to get in touch? <a href="mailto:thejackobrien29@gmail.com">Email me!</a></p>
    </div>
  </div>
</div>