<div id="footer">
  <div class="container">
    <div class="column">
      <h4>A Few Great Links</h4>
      <p>
        <a href="https://pages.teamintraining.org/nyc/nyc18/TheJackOBrien">LLS NYC Marathon Fundraiser</a>
        <br>
        <a href="https://www.instagram.com/oldrelly/">Old Relly Instagram</a>
        <br>
        <a href="https://github.com/jfobrien29/">GitHub</a>
        <br>
        <a href="https://www.linkedin.com/in/john-jack-o-brien-53bbaa105/">LinkedIn</a>
        <br>
        <a href="mailto:thejackobrien29@gmail.com">Email Me</a>
      </p>
    </div>
    
    <div class="column">
      <h4>My Shameless Plug</h4>
      <p>I'm a builder. Princeton Engineering. Computer Science. <br>
        NCAA Lacrosse. Old Relly. IBM Blockchain.
      </p>
    </div>
  </div>
</div>