<!-- <div *ngIf="messageService.messages.length">
  <h2>Messages</h2>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>
</div> -->

<div id="footer">
  <div class="container">
    <div class="column">
      <h4>My Links</h4>
      <p>
        <a href="https://pages.teamintraining.org/nyc/nyc18/TheJackOBrien">LLS NYC Marathon Fundraiser</a>
        <br>
        <a href="https://www.instagram.com/oldrelly/">Old Relly Instagram</a>
        <br>
        <a href="https://www.linkedin.com/in/john-jack-o-brien-53bbaa105/">LinkedIn</a>
        <br>
        <a href="mailto:thejackobrien29@gmail.com">Email Me</a>
      </p>
    </div>
    <div class="column">
      <h4>My Shameless Plug</h4>
      <p>Hey there! I'm a fan of building things. Princeton Computer Science. NCAA Lacrosse. Guitar Player. IBM Blockchain Developer.
      </p>
    </div>
  </div>
</div>