#footer {
    background-color: #2f2f2f;
    padding: 30px 0;
}

#footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer p {
    color: white;
}

.column {
    min-width: 200px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

#footer-plug {
    max-width: 500px;
    padding-left: 30px; 
    float: right;
}

@media (max-width:800px){
    #footer-plug {
        float: none;
        padding-left: 10px; 
    }
}