<div id="content">
  <div class="container">
    <div class="now-playing">

      <div *ngIf="isLoading">
        <div class="loader"><img src="https://i.redd.it/ounq1mw5kdxy.gif"></div>
      </div>

      <div *ngIf="!isLoading">

        <div *ngIf="isPlaying">
          <h1 class="page-header"><img src="https://i.imgur.com/NNy5eBJ.gif" height="20" width="20"> Jack Is Listening To
            Music! <img src="https://i.imgur.com/NNy5eBJ.gif" height="20" width="20"></h1>
          <h2 class="song-tile">Song: {{songTitle}}</h2>
          <h2 class="song-artists">Artist{{(hasMultipleArtists) ? 's' : ''}}: {{artists}}</h2>
          <div>
            <img class="album-art" src={{songAlbumImage}}>
          </div>

          <div class="my-thoughts-container" *ngIf="hasThoughts">
            <h4>My thoughts on this song: </h4>
            <p>"{{review}}"</p>
          </div>

          <div class="about-content">
            <p>Listen to this song <a href={{externalLink}}>in your browser</a> or open it up <a [href]="spotifyUri">directly
                in Spotify</a>!</p>
          </div>
        </div>

        <div *ngIf="!isPlaying">
          <h1 class="page-header"> Jack Is Not Listening To Music.</h1>
          <p>Check back later for some jams!</p>
        </div>

        <div>
          <p>I wanted to create a way to share my music at all times, especially during the 2018 New York Marathon.
            Check out the original version of this page <a href="https://jacks-now-playing.herokuapp.com/">here</a> or
            view the code on <a href="https://github.com/jfobrien29/spotify-marathon-api">github</a>.</p>
          <p>It's not too late to donnate to the Leukemia Lymphoma Socity. 
            <a href="https://donate.lls.org/tnt/donate?programGroupName=TNT&fundraiserPageID=3143860&participantFirstName=Jack&participantLastName=O%27Brien&displayName=Jack%20O%27Brien&fundraiserPageURL=https://pages.teamintraining.org/nyc/nyc18/TheJackOBrien">
            Click here to donnate fast!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>