.now-playing{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    padding-bottom: 0px;
    text-align: center
}

.loader img{
    max-width: 400px;
}

.album-art{
    padding: 10px;
    background-color: #333;
    border-radius: 3%;
    height: 300px;
    width: 300px;
}

.my-thoughts-container {
    background-color: #CC6600;
    max-width: 520px;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    border-width: medium;
    border-color: #333;
    padding-bottom: 5px;
    border-radius: 2%;
}

.my-thoughts-container h4{
    padding: 4px;
    font-weight: normal;
    border: #333;
    border-width: medium;
    padding-bottom: 0px;
}

.my-thoughts-container p{
    padding: 0px 10px;
    padding-top: 0px;
    font-weight: bold;
    height: auto;
    line-height: 1.5;
    letter-spacing: .08em;
    font-size: large;
    font-style: italic;
    color: white;
}

.donation-box p{
    border: #CC6600;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    padding: 5px 10px;
}

.github-box p{
    font-size: 60%
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width:340px){
    .album-art{
        height: 90%;
        width: 90%;
    }
}

@media (max-width:546px){
    .my-thoughts-container{
        width: 90%; 
    }
}