.now-playing{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center
}

.loader img{
    max-width: 400px;
}

.album-art{
    padding: 10px;
    background-color: black
}

/* .my-thoughts-container{
    background-color: #CC6600;
    padding: 10px;
}

.thoughts{
    background-color: white;
    padding: 10px;
} */