<div id="content">
  <div class="container">
    <div class="about">
      <div class="about-author">
        <img src="../../assets/me.png">
      </div>
      <h1 class="about-title">Who is The Jack O'Brien?</h1>
      <div class="about-content">
        <p>Hey! There are many "Jack O'Briens" in the world, but I'm <em><b>the</b></em> one you're looking for!
          <br>
          <br>
          I'm currently a full stack software engineer for Google in New York City. I like solving complex
          problems and tackling big projects in and out of my work life. 
          This site is a constant work in progress with great links, info, and projects, so take a look around!</p>
      </div>
    </div>
  </div>
</div>