<div id="content">
  <div class="container">
    <div class="about">
      <div class="about-author">
        <img src="../../assets/me.png">
      </div>
      <h1 class="about-title">Who is Jack O'Brien?</h1>
      <div class="about-content">
        <p>Hey! I'm a full stack developer for IBM Blockchain. I like solving complex problems and tackling big projects
          inside and outside of my work life.</p>
        <p>Check me out on
          <a href="https://www.linkedin.com/in/john-jack-o-brien-53bbaa105/">LinkedIn</a>.
        </p>
      </div>
    </div>
  </div>
</div>