/* You can add global styles to this file, and also import other style files */
    /* Application-wide Styles */
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
    @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

    body {
        color: #555;
        margin: 0;
    
        font-family: 'Montserrat', sans-serif;
    }
    
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    
    .column {
        min-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    
    a {
        color: #CC6600;
        text-decoration: none;
    }
    
    a:hover {
        color: #1abc9c;
    }
    
    h1 h2 h3 h4 {
        color: #333;
    }
    
    p {
        line-height: 1.5;
    }
    