/* You can add global styles to this file, and also import other style files */
    /* Application-wide Styles */
    @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

    body {
        color: #555;
        margin: 0;
    
        font-family: 'Montserrat', sans-serif;
    }
    
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .column {
        min-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    
    a {
        color: #CC6600;
        text-decoration: none;
    }
    
    a:hover {
        color: #1abc9c;
    }
    
    .post, .about{
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 0;
    }
    
    .about-author img {
        border-radius: 50%;
    }
    
    h1 h2 h3 h4 {
        color: #333;
    }
    
    p {
        line-height: 1.5;
    }
    
    .about {
        text-align: center
    }
    
    .liquidFillGaugeText { 
        font-family: 'Montserrat', sans-serif; 
        font-weight: bold; 
    }
    